body,
html {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background: #f5f5f7;
  color: #1d1d1f;
}

.form_container,
.proteinGoalContainer,
.proteinConsumedContainer,
.dateDisplayContainer,
.entryListContainer,
.addEntryContainer {
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.form_container {
  backdrop-filter: blur(0.5rem);
  padding: 4rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form_container button {
  margin-bottom: 1rem;
  width: 22.25rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form div {
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgb(94, 94, 94);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #0071e3;
}

button {
  background-color: #0071e3;
  color: #ffffff;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* .pencilButton {
  background-color: #ffffff;
} */

.darkModeFormContainer {
  background: #454545;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  backdrop-filter: blur(0.5rem);
  padding: 4rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: #0071e3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.username {
  padding-right: 1rem;
}

.goalContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.proteinGoalContainer {
  height: 20rem;
  width: 20rem;
  padding: 1rem;
}

.proteinGoalContainerHeader {
  display: flex;
  justify-content: space-between;
}

.proteinGoalAmount {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  height: 80%;
  font-weight: bold;
}

.proteinGoalAmount span {
  font-size: 5rem;
  font-weight: bold;
}

.proteinGoalAmount button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin-left: 1rem;
}

.proteinGoalContainerHeader button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.proteinConsumedContainer {
  height: 20rem;
  width: 20rem;
  padding: 1rem;
}

.dateDisplayContainer {
  height: 20rem;
  width: 20rem;
  padding: 1rem;
}

.entryListContainer {
  height: 20rem;
  width: 20rem;
  padding: 1rem;
}

.entryContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-bottom: 2rem;
}

.addEntryContainer {
  height: 20rem;
  width: 52rem;
  padding: 1rem;
}

.entryRow {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}

.entryRow input {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background: #ffffff;
  border: solid rgb(255, 255, 255) thin;
  box-shadow: 0 4px 6px rgba(119, 119, 119, 0.1);
  padding-left: 0.5rem;
}

.entryRow button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.entryList {
  padding-left: 0rem;
}

.menu {
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  z-index: 1001;
}

.dropdown {
  position: absolute;
  left: 0;
  top: 3rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.dropdown button {
  display: block;
  width: 100%;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.darkContainer {
  background-color: #454545;
  height: 20rem;
  width: 20rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.darkContainerLong {
  background-color: #454545;
  height: 20rem;
  width: 52rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.darkContainerLong input {
  background-color: #454545;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: solid #454545 thin;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  padding-left: 0.5rem;
  color: #ffffff;
}

.darkContainerLong button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.darkBody {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background: #333;
  color: #fff;
}

.displayDate {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: bold;
  flex-direction: column;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.sidebar button {
  display: block;
  width: 100%;
  background-color: #ffffff;
  color: black;
  border-top: 1px solid rgb(223, 223, 223);
  border-bottom: 1px solid rgb(223, 223, 223);
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.sidebar button:hover {
  background-color: rgb(223, 223, 223);
}

.darkModeSidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #454545;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.darkModeSidebar button {
  display: block;
  width: 100%;
  background-color: #454545;
  color: black;
  border-top: 1px solid rgb(94, 94, 94);
  border-bottom: 1px solid rgb(94, 94, 94);
  border-radius: 0;
  border-left: none;
  border-right: none;
  color: white;
}

.darkModeSidebar button:hover {
  background-color: rgb(94, 94, 94);
}

.darkModeMenu {
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  z-index: 1001;
  color: white;
}

.todayEntryItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 0.5rem;
}

.deleteEntry {
  color: red;
  font-weight: bold;
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  right: 0;
}

.todayEntryItems:hover .deleteEntry {
  visibility: visible;
}

.pastEntryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerFull {
  background: #ffffff;
  color: #454545;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  height: 20rem;
  width: 84rem;
  padding: 1rem;
}

.darkContainerFull {
  background: #454545;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  height: 20rem;
  width: 84rem;
  padding: 1rem;
}

.entriesList {
  max-height: 300px;
  overflow-y: scroll;
}
